# Backend API URL
VITE_API_URL=http://localhost:8080

##VITE_BASE_URL_JAVA_BACKEND=http://localhost:8080
VITE_BASE_URL_JAVA_BACKEND=https://brilliant-mindfulness-production.up.railway.app

# Instruções:
# 1. Copie este arquivo e renomeie para .env
# 2. Ajuste a URL se necessário
# 3. Nunca commite o arquivo .env (já está no .gitignore)
